{%extends 'blank.html'%}
{%block content%}
<div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Question - Answers</h3>
                                <div class="col-md-9 col-sm-15 col-xs-24 ml-auto">
                                <form method="POST">
                                    {%csrf_token%}

                                    <select name="filter" class="form-control row border-top" onchange="this.form.submit()">
                                        <option value="none" selected>Select Script Category</option>
                                        {%for obj in category%}
                                        <option value="{{obj.category}}">{{obj.category}}</option>
{%endfor%}
                                    </select>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Category</th>
                                            <th class="border-top-0">Question</th>
                                            <th class="border-top-0">Answer</th>


                                        </tr>

                                    </thead>
                                    <tbody>
                                        {%for obj in script%}

                                        <tr>
                                            {%if request.user.is_staff%}
                                            <td><form method="POST">{%csrf_token%} <input type="submit" value="{{obj.pk}}" name="script_id"></form></td>
                                            {%else%}
                                            <td>{{obj.pk}}</td>
                                            {%endif%}
                                            <td >{{obj.category}}</td>
                                            <td class="txt-oflo">
                                                <textarea  name="" id="" cols="45" rows="5">{{obj.questions}}</textarea>
                                                </td>
                                            <td class="txt-oflo">
                                                <textarea  name="" id="" cols="45" rows="5">{{obj.answers}}</textarea>

                                            </td>


                                        </tr>
                                        {%endfor%}


                                    </tbody>

                                </table>

                                {%if request.user.is_staff%}
                                <a href="{%url 'dashboard_script_add'%}" target="_blank"
                                class="btn btn-danger   waves-effect waves-light">Add Script</a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
{%endblock content%}