<!DOCTYPE html>
{%extends 'blank.html'%}
{% load static %}
{%block content%}
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Fresh ({{fresh}})',     {{fresh}}],
          ['Cancelled ({{cancelled}})',      {{cancelled}}],
          ['Closed ({{closed}})',  {{closed}}],
          ['Rescheduled ({{rescheduled}})',  {{rescheduled}}],
          ['Follow Up ({{follow_up}})',  {{follow_up}}],
          ['Correct Option ({{other}})', {{other}}],
          ['Pending To be Cancelled {{pending_cancelled}}', {{pending_cancelled}}],
          ['Secondary Fresh {{secondary_fresh}}', {{secondary_fresh}}],
          ['Acknowledged ({{acknowledged}})', {{acknowledged}}],



        ]);

        var options = {
          title: 'Overall Status',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
            <div class="row"><div id="donutchart" style="width:95%;height:400px ;border-style: solid;"></div></div>
            <form method="POST" id="filter">
    {% csrf_token%}
    <center>
  <select name="filter_value"  style="padding:10px;" id="filter_value"  >
                        <option value="all" disabled selected>Please Select Option</option>
                        <option value="fresh">Fresh</option>
                        <option value="closed">Closed</option>
                        <option value="cancelled">Cancelled </option>
                        <option value="rescheduled">Reschedule </option>
                        <option value="follow_up">Follow up</option>
                        <option value="acknowledged">Acknowledged</option>
                        <option value="pending_cancelled">Pending To be Cancelled</option>
                        <option value="Secondary Fresh">Secondary Fresh</option>

                    </select>
        <input type="date" name="startdate" id="startdate" class="button-click-a">
    <input type="date" name="todate" id="todate" class="button-click-a">
        <button class="button-click" type="button" form="filter_value" onclick=
          '{
  var myDate = new Date();

var year = myDate.getFullYear();

var month = myDate.getMonth() + 1;
if(month <= 9)
    month = "0"+month;

var day= myDate.getDate();
if(day<6){
    month=month-1;
    day = day+24;}
else if(day<=9)
    {day="0"+day;
    if (day<=9)
    {day=day-6;
    day="0"+day;}

    }
else if (day<=15)
{day=day-6;
day="0"+day;}
else
{day=day-6;}


var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var ptyDate = year +"-"+ month +"-"+ day;
var pDate = curyear +"-"+ curmonth +"-"+ curday;

var prettyDate = year +"-"+ month +"-"+ day;
document.getElementById("startdate").defaultValue =ptyDate
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >Previous 7 Day</button>



  <button class="button-click" type="button" form="filter_value" onclick=
          '{
var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var pDate = curyear +"-"+ curmonth +"-"+ curday;


document.getElementById("startdate").defaultValue =new Date().toISOString().slice(0, 10)
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >today Day</button>




  <button class="button-click" type="button" form="filter_value"
          onclick='{
var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var pDate = curyear +"-"+ curmonth +"-"+ curday;


document.getElementById("startdate").defaultValue ="2010-01-01"
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >All Leads</button>


  <input type="submit" name="filter" id="loginSubmit" class="button-click" style="background-color: #ff0000;">
</center>
</form>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Employee info Edit</h3>
                                <div class="col-md-6 col-sm-8 col-xs-12 ml-auto">
                                     <a href="{%url 'lead_request'%}"
                                class="btn btn-block btn-danger text-white" target="_blank">
                                Request For 10 Leads</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Created</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Assigened</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Substatus</th>
                                            <th class="border-top-0">Number</th>
                                            <th class="border-top-0">Goal</th>
                                            <th class="border-top-0">Contact</th>
                                            <th class="border-top-0">Rescheduled</th>
                                            <th class="border-top-0">Comment</th>

                                        </tr>

                                    </thead>
                                    <tbody>

                                    {%for obj in page.object_list%}
                                        <tr>
                                            <td><form method="POST">{%csrf_token%} <input type="submit" value="{{obj.pk}}" name="id"></form></td>
                                            <td >{{obj.created}}</td>
                                            <td class="txt-oflo">{{obj.name}}</td>
                                            <td class="txt-oflo">{{obj.assigned}}</td>
                                            <td class="txt-oflo">{{obj.status}}</td>
                                            <td class="txt-oflo">{{obj.substatus}}</td>
                                            <td>{{obj.number}}</td>
                                            <td>{{obj.type}}</td>
                                            <td class="txt-oflo">{{obj.contact}}</td>
                                            <td class="txt-oflo">{{obj.rescheduled}}</td>
                                            <td class="txt-oflo">{{obj.comment}}</td>
                                        </tr>
                                    {%endfor%}


                                    </tbody>

                                </table>
                                <center>

                    {% for num in page.paginator.page_range %}
                  {% ifequal num page.number %}
                    <span class="current"><b>{{ num }}</b></span>
                  {% else %}
                    <a href="?page={{ num }}"> {{ num }}</a>
                  {% endifequal %}
                {% endfor %}
        {% if page.has_previous %}
      <a href="{%url 'all'%}?page={{page.previous_page_number}}">Previous Page</a>

      {% endif %}
      {% if page.has_next %}

      <a href="{%url 'all'%}?page={{page.next_page_number}}">Next Page</a>
      {% endif %}</center>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {%endblock content%}