
<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Nutrition">
    <meta name="description"
        content="Wefit">
    <meta name="robots" content="noindex,nofollow">
    <title>DashBoard</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.creativefuel.io/title.png">
    <!-- Custom CSS -->
    <link href="https://www.creativefuel.io/dashboard/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.creativefuel.io/dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="https://www.creativefuel.io/dashboard/css/style.min.css " rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Fresh ({{fresh}})',     {{fresh}}],
          ['Cancelled ({{cancelled}})',      {{cancelled}}],
          ['Closed ({{closed}})',  {{closed}}],
          ['Rescheduled ({{rescheduled}})',  {{rescheduled}}],
          ['Follow Up ({{follow_up}})',  {{follow_up}}],
          ['Correct Option ({{other}})', {{other}}],
          ['Pending To be Cancelled {{pending_cancelled}}', {{pending_cancelled}}],
          ['Acknowledged ({{acknowledged}})', {{acknowledged}}],


        ]);

        var options = {
          title: 'My Daily Activities',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="{%url 'dashboard'%}">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="https://www.creativefuel.io/title.png" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text" style="color:black">
                            <!-- dark Logo text -->
                            Wefit Dashboard
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="fas fa-layer-group"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ml-auto d-flex align-items-center">

                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class=" in">
                            <form role="search" class="app-search d-none d-md-block mr-3">
                                <input type="text" placeholder="Search..." class="form-control mt-0">
                                <a href="" class="active">
                                    <i class="bx bx-search"></i>
                                </a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Profile-ICon.png" alt="user-img" width="36"
                                    class="img-circle"><span class="text-white font-medium">{{request.user.username}}</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'dashboard'%}"
                                aria-expanded="false">
                                <i class='bx bxs-layer'></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'profile'%}"
                                aria-expanded="false">
                                <i class='bx bx-face'></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'follow_up'%}"
                                aria-expanded="false">
                                <i class='bx bx-calendar-exclamation'></i>
                                <span class="hide-menu">Todays Follow Up</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'all'%}"
                                aria-expanded="false">
                                <i class='bx bx-table'></i>
                                <span class="hide-menu">Table</span>
                            </a>
                        </li>
                        {%if request.user.is_staff%}
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'target'%}"
                                aria-expanded="false">
                                <i class='bx bx-target-lock'></i>
                                <span class="hide-menu">Set Target</span>
                            </a>
                        </li>
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{%url 'admin:index'%}"
                                aria-expanded="false">
                                <i class='bx bx-user-pin'></i>
                                <span class="hide-menu">Assign Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href=" /manage/register"
                                aria-expanded="false">
                                <i class='bx bx-user-plus' ></i>
                                <span class="hide-menu">Add Users</span>
                            </a>
                        </li>
                        {%endif%}
                        <li class="text-center p-20 upgrade-btn">
                            <a href="{%url 'download'%}"
                                class="btn btn-block btn-danger text-white" target="_blank">
                                Download CSV</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title text-uppercase font-medium font-14">Dashboard</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ml-auto">
                                <li><a href="#">Dashboard</a></li>
                            </ol>
                            {%if request.user.is_staff%}
                            <a href="{%url 'target_reset'%}" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Reset Target</a>
                            {%endif%}
                        </div>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
            <div class="row"><div id="donutchart" style="width:95%;height:400px ;border-style: solid;"></div></div>
            <form method="POST" id="filter">
    {% csrf_token%}
    <center>
  <select name="filter_value"  style="padding:10px;" id="filter_value"  >
                        <option value="all" disabled selected>Please Select Option</option>
                        <option value="fresh">Fresh</option>
                        <option value="closed">Closed</option>
                        <option value="cancelled">Cancelled </option>
                        <option value="rescheduled">Reschedule </option>
                        <option value="follow_up">Follow up</option>
                        <option value="acknowledged">Acknowledged</option>
                        <option value="pending_cancelled">Pending To be Cancelled</option>

                    </select>
        <input type="date" name="startdate" id="startdate" class="button-click-a">
    <input type="date" name="todate" id="todate" class="button-click-a">
        <button class="button-click" type="button" form="filter_value" onclick=
          '{
  var myDate = new Date();

var year = myDate.getFullYear();

var month = myDate.getMonth() + 1;
if(month <= 9)
    month = "0"+month;

var day= myDate.getDate();
if(day<6){
    month=month-1;
    day = day+24;}
else if(day<=9)
    {day="0"+day;
    if (day<=9)
    {day=day-6;
    day="0"+day;}

    }
else if (day<=15)
{day=day-6;
day="0"+day;}
else
{day=day-6;}


var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var ptyDate = year +"-"+ month +"-"+ day;
var pDate = curyear +"-"+ curmonth +"-"+ curday;

var prettyDate = year +"-"+ month +"-"+ day;
document.getElementById("startdate").defaultValue =ptyDate
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >Previous 7 Day</button>



  <button class="button-click" type="button" form="filter_value" onclick=
          '{
var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var pDate = curyear +"-"+ curmonth +"-"+ curday;


document.getElementById("startdate").defaultValue =new Date().toISOString().slice(0, 10)
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >today Day</button>




  <button class="button-click" type="button" form="filter_value"
          onclick='{
var curDate = new Date();

var curyear = curDate.getFullYear();

var curmonth = curDate.getMonth() + 1;
if(curmonth <= 9)
    curmonth = "0"+curmonth;

var curday= curDate.getDate()+1;
if(curday <= 9)
    curday = "0"+curday;

var pDate = curyear +"-"+ curmonth +"-"+ curday;


document.getElementById("startdate").defaultValue ="2010-01-01"
document.getElementById("todate").defaultValue =pDate;
document.getElementById("loginSubmit").click();
}'
  >All Leads</button>


  <input type="submit" name="filter" id="loginSubmit" class="button-click" style="background-color: #ff0000;">
</center>
</form>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Employee info Edit</h3>
                                <div class="col-md-9 col-sm-15 col-xs-24 ml-auto">
                                    <select class="form-control row border-top">
                                        <option>{{today}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Created</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Assigened</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Substatus</th>
                                            <th class="border-top-0">Number</th>
                                            <th class="border-top-0">Contact</th>
                                            <th class="border-top-0">Rescheduled</th>
                                            <th class="border-top-0">Comment</th>

                                        </tr>

                                    </thead>
                                    <tbody>

                                    {%for obj in page.object_list%}
                                        <tr>
                                            <td><form method="POST">{%csrf_token%} <input type="submit" value="{{obj.pk}}" name="id"></form></td>
                                            <td >{{obj.created}}</td>
                                            <td class="txt-oflo">{{obj.name}}</td>
                                            <td class="txt-oflo">{{obj.assigned}}</td>
                                            <td class="txt-oflo">{{obj.status}}</td>
                                            <td class="txt-oflo">{{obj.substatus}}</td>
                                            <td>{{obj.number}}</td>

                                            <td class="txt-oflo">{{obj.contact}}</td>
                                            <td class="txt-oflo">{{obj.rescheduled}}</td>
                                            <td class="txt-oflo">{{obj.comment}}</td>
                                        </tr>
                                    {%endfor%}


                                    </tbody>

                                </table>
                                <center>

                    {% for num in page.paginator.page_range %}
                  {% ifequal num page.number %}
                    <span class="current"><b>{{ num }}</b></span>
                  {% else %}
                    <a href="?page={{ num }}"> {{ num }}</a>
                  {% endifequal %}
                {% endfor %}
        {% if page.has_previous %}
      <a href="{%url 'all'%}?page={{page.previous_page_number}}">Previous Page</a>

      {% endif %}
      {% if page.has_next %}

      <a href="{%url 'all'%}?page={{page.next_page_number}}">Next Page</a>
      {% endif %}</center>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">Wefit CRM presented by <a
                    href="https://www.wefitnutrition.in/">wefitnutrition.in</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://www.creativefuel.io/dashboard/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="https://www.creativefuel.io/dashboard/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://www.creativefuel.io/dashboard/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://www.creativefuel.io/dashboard/js/app-style-switcher.js"></script>
    <script src="https://www.creativefuel.io/dashboard/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="https://www.creativefuel.io/dashboard/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="https://www.creativefuel.io/dashboard/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="https://www.creativefuel.io/dashboard/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="https://www.creativefuel.io/dashboard/plugins/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="https://www.creativefuel.io/dashboard/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="https://www.creativefuel.io/dashboard/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>