{%extends 'blank.html'%}
{%block content%}
<div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Question - Answers</h3>
                                <div class="col-md-9 col-sm-15 col-xs-24 ml-auto">
                                    <select class="form-control row border-top">
                                        <option>{{today}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Category</th>
                                            <th class="border-top-0">Question</th>
                                            <th class="border-top-0">Answer</th>


                                        </tr>

                                    </thead>
                                    <tbody>
                                        {%for obj in script%}

                                        <tr>
                                            <td><form method="POST">{%csrf_token%} <input type="submit" value="{{obj.pk}}" name="script_id"></form></td>
                                            <td >{{obj.category}}</td>
                                            <td class="txt-oflo">{{obj.questions}}</td>
                                            <td class="txt-oflo">{{obj.answers}}</td>


                                        </tr>
                                        {%endfor%}


                                    </tbody>

                                </table>
                                <a href="{%url 'dashboard_script_add'%}" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Add Script</a>

                            </div>
                        </div>
                    </div>
                </div>
{%endblock content%}