<!DOCTYPE html>
{%extends 'blank.html'%}
{% load static %}
{%block content%}
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="https://www.nicepng.com/png/full/202-2022660_edit-user-profile-comments-edit-profile-icon-png.png">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="https://cdn4.iconfinder.com/data/icons/instagram-ui-twotone/48/Paul-18-512.png"
                                                class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white mt-2"><strong>{{name.name}} ({{name.gender}})</strong></h4>
                                        <h5 class="text-white mt-2">{{name.email}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="user-btm-box mt-5 d-md-flex">

                                <div class="col-md-4 col-sm-4 text-center">
                                    <h1>{{name.id}}</h1>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="POST">
                                    {%csrf_token%}
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Contact Number</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input style="font-weight: 900;font-size: xx-large;" type="text" placeholder="{{name.number}}"
                                                class="form-control p-0 border-0"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">City - State</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="{{name.city}} - {{name.state}}"
                                                class="form-control p-0 border-0"> </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">BMI (Height) Type</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="BMI-{{name.bmi|floatformat:3}} ( {{person_stat.feet}} {{person_stat.inch}}' ) Category{{person_stat.cls}}"
                                                class="form-control p-0 border-0"> </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Weight</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="{{name.weight}}"
                                                class="form-control p-0 border-0"> </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Created Date</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="{{name.created}} "
                                                class="form-control p-0 border-0"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="rescheduled" class="col-md-12 p-0">Reschedule</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="datetime-local" placeholder="{{name.rescheduled}}"
                                                class="form-control p-0 border-0" name="rescheduled"
                                                required>
                                        </div>
                                    </div>

                                    <script type="text/javascript">
function checkvalue(val)
{
    if(val==="Instagram"){
       document.getElementById('cancel_link').style.display='block';
       document.getElementById('cancel_link').required=true;}
    else
       {document.getElementById('cancel_link').style.display='none';
       document.getElementById('cancel_link').required=false;}
}
</script>
                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Select Status</label>
                                        <div class="col-sm-12 border-bottom">
                    <select class="form-control p-0 border-0" name="status" onchange="checkstatus(this.value);" required id="status">
                        <option value="acknowledged" selected>{{name.status}}</option>
                        {%if request.user.is_staff%}
                        <option value="cancelled">Cancelled</option>
                        {%endif%}
                         <option value="closed">Closed</option>
                        <option value="pending_cancelled">Pending Cancelled </option>
                        <option value="rescheduled">Reschedule </option>
                        <option value="follow_up">Follow up</option>


                    </select>
                                        </div></div>
                <script type="text/javascript">
function checkstatus(val)
{
    if(val==="pending_cancelled"){
        document.getElementById('cancel_link').style.display='block';
        document.getElementById('cancel_link').required=true;
        document.getElementById('link').style.display='block';
        document.getElementById('closed').style.display='none';
        document.getElementById('rescheduled').style.display='none';
       document.getElementById('cancelled').style.display='block';
       document.getElementById('follow_up').style.display='none';
       document.getElementById('total').style.display='none';
        document.getElementById('total').required=false;
        document.getElementById('paid').style.display='none';
        document.getElementById('paid').required=false;
       }
    else if(val=="closed"){
    document.getElementById('cancel_link').style.display='none';
       document.getElementById('cancel_link').required=false;
        document.getElementById('closed').style.display='block';
        document.getElementById('rescheduled').style.display='none';
       document.getElementById('cancelled').style.display='none';
       document.getElementById('follow_up').style.display='none';
       document.getElementById('link').style.display='none';

       }
    else if(val=="rescheduled"){
    document.getElementById('rescheduled').style.display='block';
        document.getElementById('rescheduled').required=true;
    document.getElementById('cancel_link').style.display='none';
       document.getElementById('cancel_link').required=false;
        document.getElementById('closed').style.display='none';

       document.getElementById('cancelled').style.display='none';
       document.getElementById('follow_up').style.display='none';
       document.getElementById('link').style.display='none';
       document.getElementById('total').style.display='false';
        document.getElementById('total').required=false;
        document.getElementById('paid').style.display='none';
        document.getElementById('paid').required=false;
       }
    else if(val=="follow_up"){
    document.getElementById('cancel_link').style.display='none';
       document.getElementById('cancel_link').required=false;
        document.getElementById('closed').style.display='none';
        document.getElementById('rescheduled').style.display='none';
       document.getElementById('cancelled').style.display='none';
       document.getElementById('follow_up').style.display='block';
       document.getElementById('link').style.display='none';
       document.getElementById('total').style.display='false';
        document.getElementById('total').required=false;
        document.getElementById('paid').style.display='none';
        document.getElementById('paid').required=false;
       }
    else
       document.getElementById('mode').style.display='none';
}
                    </script>
                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Select Subtatus</label>
                    <div class="col-sm-12 border-bottom">
                 <select class="form-control p-0 border-0" name="substatus"  id="closed" style="display:none;" onchange="checkclosed(this.value);">
                        <option value="" disabled selected>{{name.substatus}}</option>
                        <option value="partially_paid">Partiall Paid</option>
                        <option value="fully_paid">Fully Paid</option>

                    </select>
                    </div>
                <script>
function checkclosed(val)
{
    if(val==="partially_paid"){
        document.getElementById('total').style.display='block';
        document.getElementById('total').required=true;
        document.getElementById('paid').style.display='block';
        document.getElementById('paid').required=true;


       }
    else if(val=="fully_paid"){
        document.getElementById('total').style.display='block';
        document.getElementById('total').required=true;
        document.getElementById('paid').style.display='block';
        document.getElementById('paid').required=true;
       }
    else
       document.getElementById('total').style.display='none';
}


                </script>
                <div class="col-md-12 border-bottom p-0">
                    <input class="form-control p-0 border-0" type="number" style="display:none;" name="total" value="{{name.purchased}}"  id="total" placeholder="Total Pack Purchased" >
                </div>
                <div class="col-md-12 border-bottom p-0">
                    <input class="form-control p-0 border-0" type="number" style="display:none;" name="paid"  id="paid" value="{{name.paid}}" placeholder='Amount Paid'>
                </div>
                <div class="col-md-12 border-bottom p-0">
                    <label style="color: navajowhite;">{{remaining}}</label></div>
                <div class="form-row-last">

                    <div class="col-sm-12 border-bottom">
                <select class="form-control p-0 border-0" name="substatus"  id="cancelled" style="display:none;">
                        <option value="" disabled selected>{{name.substatus}}</option>
                        <option value="not_responding">Not Responding</option>
                        <option value="switch_off">Switch Off </option>
                    <option value="wrong_no">Wrong No</option>
                    <option value="not_interested">Not Interested</option>

                </select>
                    </div>

                <div class="col-sm-12 border-bottom">
                <select class="form-control p-0 border-0" name="substatus"  id="rescheduled" style="display:none;">
                        <option value="" disabled selected>{{name.substatus}}</option>
                        <option value="not_responding">Not Responding</option>
                        <option value="switch_off">Switch Off </option>
                    <option value="call_back">Call Back</option>

                    </select>
                </div>
                    <div class="col-sm-12 border-bottom">
                <select class="form-control p-0 border-0" name="substatus"  id="follow_up" style="display:none;">
                        <option value="" disabled selected>{{name.substatus}}</option>
                        <option value="follow_up_1">Follow Up 1</option>
                        <option value="follow_up_2">Follow Up 2</option>
                    <option value="follow_up_3">Follow Up 3</option>

                    </select>
                    </div>

                <div class="form-row" style="display:none;" id="link" >
                    <a style="color: cornflowerblue;text-decoration-line: underline;" target="_blank" href="https://drive.google.com/drive/folders/1uNI2NVRDunTpygAaMgZ71Pl0G4JUhf1c?usp=sharing"><label>Click To upload</label></a>
                </div>
                <div class="col-md-12 border-bottom p-0">
                    <input class="form-control p-0 border-0" type="text" name="cancel_link" id="cancel_link" class="input-text"
                           placeholder="Place Cancel Link Here" style="display:none;" value="{{name.insta_user}}">
                </div>
                </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Comment</label>
                                        <div class="col-md-12 border-bottom p-0">
                                           <input class="form-control p-0 border-0" type="text" name="comment"  id="comment" placeholder="comment" required>
                                        </div>
                                    </div>

                                        <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Last Comments</label>
                                        <div class="col-md-12 border-bottom p-0">
                                           <input class="form-control p-0 border-0" type="text" placeholder="{{name.comment}}">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                             <input class="btn btn-success" type="submit" onclick="myFunction()">
                                        </div>
                                    </div>
                                        <script>
                                    var form = document.getElementById('updateform');

                                    function myFunction() {
                                      if (form.checkValidity()) {
                                        alert("Edited Successfully");
                                      }
                                    }
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            {%endblock content%}