<!DOCTYPE html>
{%extends 'blank.html'%}
{% load static %}
{%block content%}
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                   <div class="row">
                    <!-- Column -->
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="POST">
                                    {%csrf_token%}
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Full Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="{{users.username}}"
                                                class="form-control p-0 border-0" value="{{users.username}}"> </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="mobile" class="col-md-12 p-0">number</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="number" placeholder="{{users.info.mobile}}"
                                                class="form-control p-0 border-0" name="mobile" value="{{users.info.mobile}}"
                                                id="mobile">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Target</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" placeholder="{{users.info.target}}"
                                                class="form-control p-0 border-0" name="target" value="{{users.info.target}}">
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Start Date</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="date"
                                                class="form-control p-0 border-0" name="start_date" name="start_date">
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">End Date</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="date" name="end_date"
                                                class="form-control p-0 border-0" name="end_date">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->

                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
          {%endblock content%}