<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.creativefuel.io/dashboard/register_form/assets/css/index.css">
	<script type="text/javascript" src="https://www.creativefuel.io/dashboard/register_form/assets/js/index.js"></script>

	<!-- fontawesom -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Vidaloka&family=Lobster+Two&family=Merienda&family=Barlow+Condensed:ital,wght@1,500&display=swap" rel="stylesheet">


</head>
<body>

		<div class="row no-gutters">
			<div class="col-md-5 no-gutters">
				<div class="left">
						<!-- background image		 -->
				</div>
			</div>
			<div class="col-md-7 no-gutters">
				<div class="right p-5">
					<!-- general -->
					<div class="container p-5" id="general">
					<h1 class="text-center mb-5" style="font-family: Brandon Grotesque Black;">General Informtion</h1>
					<!-- form1 -->
						<form  name="frm" id="form" onsubmit="ovalid()"  method="POST">
							<!-- name -->
						  <div class="form-group row my-2">
						  	<label for="Uname" class="col-sm-3 col-form-label lsize">Name:</label>
						    <div class="col-sm-9">
						   	 <input type="text" name="name" value="" class="form-control" placeholder="Enter your Full Name" id="Uname" >
						    </div>
						  </div>
						  <!-- email -->
						  <div class="form-group row my-2">
						  	<label for="email" class="col-sm-3 col-form-label lsize">Email:</label>
						    <div class="col-sm-9">
						   	 <input type="email" name="mail" value="" class="form-control" placeholder="Enter your email" id="email" >
						    </div>
						  </div>
						  <!-- gender -->
						  <div class="form-group row my-2 gender">
						  	<label class="col-sm-3 col-form-label lsize">Gender:</label>
						    <div class="col-sm-9">
						    	<!-- male -->
						   	 <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="Gender" id="male" value="Male">
							  <i class="fa fa-mars mr-2"></i>
							  <label name="Gender" class="form-check-label" for="male">Male</label>
							</div>
							<!-- female -->
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="Gender" id="female" value="Female" >
							  <i class="fa fa-venus mr-2"></i>
							  <label name="Gender" class="form-check-label text-center" for="female">Female</label>
							</div>
						    </div>
						  </div>
						  <!-- contact -->
						  <div class="form-group row my-2">
						  	<label for="contact" class="col-sm-3 col-form-label lsize">Contact:</label>
						    <div class="col-sm-9">
						   	 <input type="number" name="phone" value="" class="form-control" placeholder="Enter your Mobile number" id="contact" >
						    </div>
						  </div>
						  <!-- city -->
						  <div class="form-group row my-2">
						  	<label for="city" class="col-sm-3 col-form-label lsize">City:</label>
						    <div class="col-sm-9">
						   	 <input type="text" name="Ucity" value="" class="form-control" placeholder="Current City" id="city" >
						    </div>
						  </div>
						  <!-- state -->
						 <div class="form-group row my-2">
						  	<label for="state" class="col-sm-3 col-form-label lsize">State:</label>
						    <div class="col-sm-9">
						   	 <input type="text" name="Ustate" value="" class="form-control" placeholder="State" id="state">
						    </div>
						  </div>
						  <!-- button -->
						  <button type="submit"  class="btn float-right mt-5 mb-3" onclick="return valid()">Next</button>

					</div>
					<!-- other -->
					<div class="container other" id="other">
					<h1 class="text-center mb-5">Other Informtion</h1>
					<!-- form2 -->

							{%csrf_token%}
						  <!-- goal -->
						  <div class="form-group my-2">
						    <label class="lsize">Select your Goal:</label>
						    <div class="goal">
						    	<input type="radio" class="form-control" id="muscle" name="goal" value="muscle_gain" >
  								<label for="muscle" class="mr-1">Muscle Gain</label>

						    	<input type="radio" class="form-control" id="weight" name="goal" value="weight_loss">
  								<label for="weight">Weight Loss</label>
						    </div>
						  </div>
						  <!-- weight -->
						  <div class="form-group my-2">
						    <label class="lsize">Weight:</label>
						    <div>
						    	<input type="number" min="0"  class="form-control w-50"  name="weight" placeholder="Enter your weight in kg" required>
						    </div>
						  </div>
						  <!-- Height -->
						  <div class="form-group my-2">
						    <label class="lsize">Height:</label>
						    <div class="row">
						    	<input type="number" class="form-control w-25 ml-3 height" name="foot" value="" placeholder="feet" min="0" required>
						    	<input type="number" class="form-control w-25 ml-3 height" name="inch" value="" placeholder="inch" min="0" required>
						    </div>
						  </div>
						  <!-- Pcontact -->
						  <div class="form-group my-2">
						    <label class="lsize">Prefered mode of contact:</label>
						    <div class="prefer">
						    	<input type="radio" class="form-control" id="call" name="prefered" value="Call" >
  								<label for="call" class="mr-5">Call</label>

						    	<input type="radio" class="form-control" id="whatsapp" name="prefered" value="Whatsapp">
  								<label for="whatsapp">WhatsApp</label>
						    </div>
						  </div>
						  <!-- button -->
 						 <input type="button" value="Back" class="back mt-5" onclick="history.go()">

						  <!-- <button  class="float-left mt-5 mb-3 px-4 back" onclick="cancel()">Back</button> -->
						  <button type="submit" class="btn btn-dark float-right mt-5" >Submit</button>
						</form>
					</div>
				</div>
		</div>




</body>
</html>